<div class="search-container">
  <div class="search-box">
    <mat-form-field appearance="outline" class="search-input">
      <input matInput #searchInput type="text" placeholder="Search for a movie..." (keyup.enter)="onSearch(searchInput.value)" />
      <button matSuffix mat-icon-button (click)="onSearch(searchInput.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="divider"></div>

  <div class="response-container">
    <ng-container *ngIf="selectedMovie$ | async as movie">
      <mat-card class="movie-item mat-elevation-z4" (click)="onSelectMovie(movie)">
        <img mat-card-image [src]="movie.Poster" alt="{{ movie.Title }}">
        <mat-card-content>
          <h2 mat-card-title>{{ movie.Title }}</h2>
          <p mat-card-subtitle>{{ movie.Year }}</p>
          <p>{{ movie.Plot }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="error$ | async as error">
      <mat-card class="error-container mat-elevation-z4">
        <mat-card-content>
          <p class="error">{{ error }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
