// nav {
//   background-color: #333;
//   color: #fff;
//   padding: 1em;

//   ul {
//     list-style: none;
//     display: flex;
//     justify-content: space-around;

//     li {
//       a {
//         color: #fff;
//         text-decoration: none;

//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//   }
// }

/* src/app/components/navbar/navbar.component.scss */
mat-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 1vw;
  width: auto;
  flex-wrap: wrap;
  padding-bottom: 10px;
  background-color: rgb(252, 216, 247);

}



