<!-- src/app/components/login/login.component.html -->
<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input placeholder="Enter the Email Id" matInput type="email" formControlName="email" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input placeholder="Enter the Password" matInput type="password" formControlName="password" required />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </mat-card-content>
    <mat-card-actions>
      <p class="signup-link">
        Don't have an account? <a routerLink="/signup">Sign up</a>
      </p>
    </mat-card-actions>
  </mat-card>
</div>
