<!-- src/app/app.component.html -->
<!-- <div class="app-container"> -->
  <!-- <app-navbar></app-navbar> -->
  <!-- <app-search></app-search>
  <app-movie-list></app-movie-list>
  <app-movie-details></app-movie-details> -->
  <!-- <router-outlet></router-outlet> -->
<!-- </div> -->
<!-- src/app/app.component.html -->
<div class="app-container">
  <mat-toolbar color="primary">
    <span>My Application</span>
    <!-- Add more toolbar content here if needed -->
    <hr/>
    <app-navbar></app-navbar>
  </mat-toolbar>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>

