
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the theme object.
// $Movies-theme: mat.define-theme((
//   color: (
//     theme-type: light,
//     primary: mat.$azure-palette,
//     tertiary: mat.$blue-palette,
//   ),
//   density: (
//     scale: 0,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// :root {
//   @include mat.all-component-themes($Movies-theme);
// }

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($Movies-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($Movies-theme);
/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;

// @include mat.core();

// $primary: mat.define-palette(mat.$indigo-palette);
// $accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $warn: mat.define-palette(mat.$red-palette);
// $tertiary: mat.define-palette(mat.$yellow-palette); // Example tertiary color

// $theme: mat.define-light-theme((
//     color: (
//         primary: $primary,
//         accent: $accent,
//         warn: $warn,
//         tertiary: $tertiary, // Include tertiary color
//         ),
//         typography: mat.define-typography-config(),
//         ));

// @include mat.all-component-themes($theme);
       

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* styles.scss */
.app-container {
    height: auto; /* Adjust the height as needed or remove to let it be determined by content */
  }
  
  .mat-toolbar {
    display: flex;
    align-items: center;
  }
  
  .app-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 10px; /* Adds space between title and navbar */
  }
  
  .fill-space {
    flex: 1; /* This pushes the navbar to the right */
  }
  
  .content-container {
    padding: 20px; /* Adjust padding as needed */
  }
  